.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

/* Font End*/

/* Body Start*/
body {
  font-family: "Marcellus";
  color: #312229;
  text-shadow: 2px 2px 2px #312229(0, 0, 0, 0.2);
  z-index: 0;
  background-color: #ffffff;
}
.navbar {
  background-color: #e4c7a1;
  color: #00303f;
  position: fixed;
  height: 100%;
}

.btn-primary {
  padding: 10px;
  background-color: #cae4db;
  color: #00303f;
  outline-color: #cae4db;
  border-color: #cae4db;
}

h1 {
  font-family: "Marcellus";
  color: #00303f;
}
a {
  font-family: "Manrope";
  color: #00303f;
}
.navbackground {
  background-color: #ffffff;
}
footer {
  background-color: #e4c7a1;
  color: #00303f;
}

form .user-details .input-box {
  margin-bottom: 5px;
  margin: 20px 0 12px 0;
  width: calc(100% / 2-20px);
  border-radius: 5px;
}

.user-details .input-box .details {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  border-radius: 5px;
}

.container-xl {
  max-width: 700px;
  width: 100%;
  background-color: #e4c7a1;
  border-radius: 5px;
}

.card-img-top {
  width: relative;
  height: relative;
  object-fit: scale;
}

.profile-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.profile-container h1 {
  margin-top: 0;
}

.member-card {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  font-family: "Manrope";
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  color: #333;
}

.member-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-card .card-header h2 {
  margin-top: 3px;
  font-size: 1.7em;
}

.member-card .card-header img {
  width: 200 px;
  margin-bottom: 20px;
}

.member-card .card-body p {
  text-align: left;
  margin-top: 90px;
  margin: 5px 0;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 70px;
}

.copy-button {
  background: none;
  border: none;
  cursor: pointer;
}

.copy-button img {
  width: 20px;
  height: 20px;
}

.info-row p {
  margin: 0;
}

.info-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px;
}

.info-row2 p {
  margin: 0;
}

.info-row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 55px;
}

.info-row3 p {
  margin: 0;
}

.biodata {
  font-family: "Manrope";
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

.biodata .biodata-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.biodata .biodata-header h2 {
  font-family: "Marcellus SC";
  margin: 0;
  font-size: 1.2em;
}

.biodata .edit-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.biodata .edit-button:hover {
  color: #007bff;
}

.biodata .biodata-body p {
  margin: 5px 0;
}

.input-box {
  display: auto;
  width: auto;
}

.bookdetail {
  padding: 10px;
}

.grid-flow-row {
  grid-auto-flow: row;
}
.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.boldtext {
  font-weight: 700;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
