.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Font End*/

/* Body Start*/
body {
  font-family: "Poppins";
  color: #312229;
  text-shadow: 2px 2px 2px #312229(0, 0, 0, 0.2);
  z-index: 0;
  background-color: #fffaf3;
}
.navbar {
  background-image: linear-gradient(55deg, #b18653, #b48653);
  color: transparent;
}

.glass {
  background: linear-gradient(135deg, #b18653);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

.glass2 {
  background: linear-gradient(135deg, rgba(56, 56, 56, 0.307), rgba(56, 56, 56, 0.274));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-end-start-radius: 15px;
  border-end-end-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

.bg {
  background-size: cover;
  min-height: 60vh;
  position: relative;
  color: #fffaf3;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  object-fit: none;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.searchbar {
  color: #d9d9d9;
  background-color: #d9d9d9;

  text-align: left;
  font-style: italic;
  font-weight: 200;
  margin: 10px;
  margin-left: 3px;
  border-left: none;
  width: auto;
  min-inline-size: 100%;
}

.navbar-default .navbar-collapse {
  float: right;
  border-top: none;
  padding-left: 0;
  padding-right: 0;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #fffaf3 !important;
  color: #312229;
  font-weight: 600;
  border-color: #fffaf3;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  max-height: 200px;
  min-height: 150px;
  object-fit: cover;
}

.padding120 {
  padding-top: 120px;
}

footer {
  color: #b18653;
  background-color: #b18653;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

/* Body End*/

/* Carousel Start*/
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

/* Carousel End*/
